h1 .logo{
    
    display: flex;
    margin: auto;
  
    }


    .about-head{
        margin-top: 5rem;
    }

    .about-content{
        width: 30%;
        margin: auto;
        font-size: 0.8rem;
    }
    vedio {
        width: 100%;
  max-height: 100%;
    }