.spec {

    padding-top: 2rem;
    display: grid;

    grid-template-columns: repeat(auto-fill, min-max(300px, 2fr) );
    //grid-template-rows: repeat(3, 1fr);
    grid-gap: 5rem;
    grid-template-areas: "box1""box2""box3"
      //  "box1""box2""box3"
      ;
    width: 70%;
    margin: auto;

    justify-items: center;


}


.spec1 {

    grid-area: box1;
    align-content: center;
    border: solid yellow 2px;
    box-shadow: yellow 3px 2px 3px 4px;
    text-align: center;

}

.spec2 {

    grid-area: box2;

}

.spec3 {


    grid-area: box3;
    display: flex;




}

.spec-content p {
    font-size: 0.9rem;
    text-align: center;
}

.spec-logo {

    height: 2rem;
    width: 2rem;
    display: flex;
    margin: auto;
}



h3 {

    display: flex;
    justify-content: center;
    padding: 1rem;
}



.video-loop{
    position: absolute;
    left :0;
    right: 0;
    z-index: -2;
    width: 50%;
    margin: auto;
    height: 100vh;
    padding-top: 2rem;
    opacity: 30%;
   
}
